# --- Geliştirme Dosyaları (Pakette olmamalı) ---
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# --- Güvenlik (ÇOK ÖNEMLİ) ---
# .env dosyası asla paketin içine girmemeli!
.env
.env.*

# --- Python Artıkları ---
# Extension klasöründe yanlışlıkla Python çalıştırırsan diye
__pycache__/
*.py[cod]
venv/
env/

# --- Gereksiz Loglar ---
npm-debug.log
yarn-debug.log
yarn-error.log

# --- GitHub ---
.github/